/* IMPOSTAZIONI GENERALI */
body{
    background-image: url(./sfondo.png);
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    







    
}
   
}
/* HEADER */

}
    

    
    
}
/* MAIN */

/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
