@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{ 
    font-family: 'Roboto', sans-serif;
    margin: 30px;
}
   


.header{
    text-align: center;
    
    
   
}
.header img{
    width: 250px;
}
.header p{
    color:#004d4d ;
    background-color:#fefbf1 ;
    border-top: 2px solid #ffd977;
    padding: 1em;
}
.main1{
    text-align: center;
    padding-left:25vw;
    padding-right: 25vw}


    .aside{
        margin-left:25vw;
       padding-left: 12px;
        padding-right: 25vw;
        border-left: 2px solid #ffd977;
    }
    .aside p{
        color: red;
       
    }
.aside a{color:rgb(23, 125, 241);
}
    .main2{
        padding-left:25vw;
        padding-right: 25vw}
    .main2 li {padding:15px}

    h2{
        border-bottom: 1px solid rgb(25, 125, 184);
        padding:1.5em
    }
    .footer{
        padding-left:25vw;
        padding-right: 25vw
    }